// theme setup
@import './theme.android';
@import './app-common';

//iOS specific styling
.issue-container {
  background-color: $brand-primary;
}

SegmentedBar {
  background-color: $brand-primary;
  color: white;
  border-color: white;
  border-width: 2;
  /*
  border-radius: 5;
  margin-left: 5;
  margin-right: 5;
  */
}

.issue-detail-title {
  padding-top: 12;
  padding-bottom: 20;
  font-size: 20;
}
