<span>{{ rangeStart | date }} - {{ today | date }}</span>
<kendo-button-group [selection]="'single'">
    <button kendoButton (click)="onFilterClick(1)" [selected]="true">1 Month</button>
    <button kendoButton (click)="onFilterClick(6)">6 Months</button>
    <button kendoButton (click)="onFilterClick(12)">1 Year</button>
</kendo-button-group>
<kendo-tabstrip (select)="onTabSelect($event)">
    <kendo-tabstrip-tab [title]="'All Issues'" [selected]="true">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 0"></statistics>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Assigned to Me'">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 1"></statistics>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Created by Me'">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 2"></statistics>
    </kendo-tabstrip-tab>
</kendo-tabstrip>