<div class="row m-b-2">
    <div class="col-sm">
        <h2>
            <span class="small text-uppercase text-muted d-block">Statistics</span>
            {{ rangeStart | date }} - {{ today | date }}
        </h2>
    </div>
    <span class="col-sm-1 hidden-sm-down"></span>
    <div class="col-sm text-sm-right">
        <kendo-button-group [selection]="'single'">
            <button kendoButton (click)="onFilterClick(3)" [selected]="true">3 Months</button>
            <button kendoButton (click)="onFilterClick(6)">6 Months</button>
            <button kendoButton (click)="onFilterClick(12)">1 Year</button>
        </kendo-button-group>
    </div>
</div>
<kendo-tabstrip (select)="onTabSelect($event)">
    <kendo-tabstrip-tab [title]="'All Issues'" [selected]="true">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 0"></statistics>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Assigned to Me'">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 1"></statistics>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Created by Me'">
        <statistics [issues]="issues" [months]="months" *ngIf="selectedIndex === 2"></statistics>
    </kendo-tabstrip-tab>
</kendo-tabstrip>