// Common
.k-hbox,
.k-vbox {
	display: flex;
}
.k-ihbox,
.k-ivbox {
	display: inline-flex;
}
.k-hbox,
.k-ihbox {
	flex-direction: row;
}
.k-vbox,
.k-ivbox {
	flex-direction: column;
}
.k-flex,
.k-spacer {
	flex: 1;
}




// App
#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}




// Nav
#nav {
	padding: $spacer * 1.5;
	width: 320px;
	box-sizing: border-box;

	hr { border: 0; }
	.h4 {
		font-size: $font-size-xs;
		font-weight: 400;
		text-transform: uppercase;
		opacity: .3;
	}

	.nav-pills {
		font-size: 1.125rem;
	}
	.nav-pills a:not(.active) {
		color: inherit;
	}
}
#app-title {
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}
#app-subtitle {
	margin: 0;
	font-size: $font-size-xs;
	font-weight: 100;
	text-transform: uppercase;
	opacity: .75;
}
#copy {
	color: #9195a2;
	font-size: $font-size-sm;
}




// Main
main {
	padding: $spacer * 1.5;
	flex: 1;
	overflow: auto;


	// Cards
	.card {}
	.card .card-header {}
}