$brand-primary: green;

.issue-status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
}

.issue-open {
  background-color: red;
}

.issue-closed {
  background-color: green;
}
