// overide some values
$background: #303030;
$primary: #1DA8DD;
$secondary: lighten(#fff, 30%);
$disabled: lighten(#fff, 50%);
$accent: #d0bcff;
$btn-color: $accent;
$btn-color-secondary: #d0bcff;
$btn-color-disabled: #a4a4a4;