<ActionBar title="Issues"></ActionBar>
<GridLayout rows="auto auto auto *">
  <SegmentedBar [items]='filters' [(ngModel)]='selectedFilter'></SegmentedBar>

  <SearchBar [(ngModel)]='search' row="1"></SearchBar>

  <StackLayout *ngIf="(filter$ | async) === 3" orientation="horizontal" row="2" margin="12">
    <Label text="Filtering by "></Label>
    <Label [text]="(user$ | async)" fontWeight="bold"></Label>
    <Label text=" change" (tap)="promptUser()" class="link-btn"></Label>
  </StackLayout>

  <ListView [items]="filteredIssues$ | async" row="3">
    <template let-item="item" let-i="index">

      <GridLayout rows="auto auto auto" columns="auto * auto" [nsRouterLink]="['/detail', item.id]">

        <Image [src]='item.state | satusImage' col="0" rowSpan="3" class="status-image"></Image>
        <Label [text]='"#" + item.id' col="2" rowSpan="3" class="issue-number"></Label>

        <Label [text]='item.title' col="1" row="0" textWrap="true"></Label>
        <Label [text]='"by " + item.author.name + " on " + (item.date | date)' col="1" row="1" textWrap="true" class="author"></Label>

        <WrapLayout orientation="horizontal" col="1" row="2" margin="6 0">
          <Image [src]="item.author.avatarUrlThumb" class="avatar-small"></Image>

          <Label *ngFor="let label of item.labels" [text]="label.name" [style.backgroundColor]="'#' + label.color" class="tag"></Label>
        </WrapLayout>
        <!--<Label [text]='item | json' margin="12" textWrap="true"></Label>-->

      </GridLayout>

    </template>
  </ListView>

  <ActivityIndicator width="100" height="100" [busy]="loading" row="3"></ActivityIndicator>
</GridLayout>